* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  width: 100%;
}

body {
  position: relative;
}


footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
