* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  position: relative;
  background-color: var(--cream);
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;    
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;  
}

.c-product-card {
  max-width: 610px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--white);
}

.c-product-card__img-half {
  max-width: 100%;    
}

.c-product-card__img {
  border-radius: 12px 0px 0 12px;
}

.c-product-card__text-half {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

.c-product-card__ribbon {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--dark-grayish-blue);
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.c-product-card__title {
  color: var(--very-dark-blue);
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  max-width: 10ch;
  margin-bottom: 2rem;
}

.c-product-card__desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  line-height: 1.4em;  
  color: var(--dark-grayish-blue);
  max-width: 50ch;
  margin-bottom: 2rem;
}

.c-product-card__prices {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;  
}

.c-product-card__price{
  font-family: 'Fraunces', serif;
  color: var(--dark-cyan);
  font-size: 2rem;
}

.c-product-card__price-odd {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.750rem;
  color: var(--dark-grayish-blue);
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--very-dark-blue);
}

.c-product-card__btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;  
  margin-bottom: 1rem;
}

.c-product-card__svg {
  width: 15px;
  height: 15px;
}

footer {
  position: absolute;
  padding: 4px;
  width: 100%;
  bottom: 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
  .c-product-card {    
    max-width: 340px; 
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .c-product-card__img {
    border-radius: 12px 12px 0px 0px;
  }
}
